*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-1: #4D4D4D;
  --color-2: #161616;
  --color-3: #FFFFFF;
  --color-4: #FFF7ED;
  --color-5: #FFEAD0;
  --color-6: #FF8C38;
  --color-7: #000000;
  --color-8: #B9B9B9;
  --color-9: #252525;
  --color-10: #AAAAAA;
  --color-11: #E17654;
  --color-12: #201F1D;
  --color-13: #858585;
  --color-14: #115E59;
  --color-15: #FFCC8D;
  --color-16: #8C8C8C;
  --color-17: #C7C7C7;
  --color-18: #D1D5DB;
  --color-19: #1C1C1C;
  --color-20: #68FF65;
  --color-21: #748AFF;
  --color-22: #FFDDB2;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  margin: 0;
  padding: 0;
}

.van-type {
  width: 85.71px;
  height: 33.89px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  line-height: 31.7px;
  text-transform: capitalize;
}

button:hover,
button:focus {
  cursor: pointer;
}

.back-to-all-vans {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 27px;
}
.back-to-all-vans svg {
  color: var(--color-13);
}
.back-to-all-vans a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22.9px;
  color: var(--color-12);
  text-decoration: underline;
}

.vanlife {
  max-width: 548.15px;
  margin: 0 auto;
}
.vanlife .header {
  width: 100%;
  height: 111.62px;
  background-color: var(--color-4);
  padding: 0 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vanlife .header .nav {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.vanlife .header a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22.9px;
  color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vanlife .header a:hover {
  text-decoration: underline;
  color: var(--color-2);
}
.vanlife .header svg {
  width: 18px;
  height: 18px;
}
.vanlife .header .home-link {
  font-weight: 900;
  font-size: 1.584rem;
  line-height: 40.3px;
  color: var(--color-7);
  text-transform: uppercase;
}
.vanlife .home-page {
  min-height: 386.7px;
  padding: 0 26px;
  background-image: url("/home/home-bg.png");
  background-color: rgba(0, 0, 0, 0.46);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vanlife .home-page .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
}
.vanlife .home-page h2 {
  margin: 0;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 42px;
  color: var(--color-3);
}
.vanlife .home-page p {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: var(--color-3);
}
.vanlife .home-page button {
  width: 100%;
  height: 49.83px;
  border-radius: 5px;
  background-color: var(--color-6);
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.997rem;
  line-height: 31.7px;
  color: var(--color-3);
}
.vanlife .home-page button:hover {
  cursor: pointer;
}
.vanlife .hosts-page {
  background-color: var(--color-4);
}
.vanlife .hosts-page a {
  text-decoration: none;
  display: inline-block;
}
.vanlife .hosts-page .host-nav {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22.9px;
  color: var(--color-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 27px;
}
.vanlife .hosts-page .dashboard {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-1);
}
.vanlife .hosts-page .dashboard .income,
.vanlife .hosts-page .dashboard .score,
.vanlife .hosts-page .dashboard .vans {
  padding: 8px 27px;
}
.vanlife .hosts-page .dashboard .income {
  width: 100%;
  height: 219px;
  background-color: var(--color-5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.vanlife .hosts-page .dashboard .income .welcome {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 22px;
  color: var(--color-2);
}
.vanlife .hosts-page .dashboard .income .text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vanlife .hosts-page .dashboard .income .text span a {
  text-decoration: underline;
  font-weight: 700;
}
.vanlife .hosts-page .dashboard .income .text a {
  margin-left: auto;
}
.vanlife .hosts-page .dashboard .income .number {
  font-weight: 800;
  font-size: 3rem;
  line-height: 38px;
  color: var(--color-2);
}
.vanlife .hosts-page .dashboard .score {
  width: 100%;
  height: 113px;
  border-radius: 5px;
  background-color: var(--color-22);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vanlife .hosts-page .dashboard .score a {
  margin-left: auto;
}
.vanlife .hosts-page .dashboard .score span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 22px;
}
.vanlife .hosts-page .dashboard .score svg {
  color: var(--color-6);
  margin-left: 8px;
}
.vanlife .hosts-page .dashboard .vans {
  padding: 32px 27px;
}
.vanlife .hosts-page .dashboard .vans p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 22px;
  color: var(--color-2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 27px;
}
.vanlife .hosts-page .dashboard .vans p a {
  margin-left: auto;
  font-weight: 500;
  font-size: 1rem;
}
.vanlife .hosts-page .dashboard .vans .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.vanlife .hosts-page .dashboard .vans .container .van {
  width: 100%;
  height: 102px;
  border-radius: 6px;
  background-color: var(--color-3);
  padding: 0 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.vanlife .hosts-page .dashboard .vans .container .van img {
  width: 65.88px;
  height: 65.88px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.vanlife .hosts-page .dashboard .vans .container .van .name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 31.7px;
  color: var(--color-2);
}
.vanlife .hosts-page .dashboard .vans .container .van a {
  margin-left: auto;
  width: auto;
}
.vanlife .hosts-page .vans {
  padding: 32px 27px;
}
.vanlife .hosts-page .vans p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 33.7px;
  color: var(--color-2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 27px;
}
.vanlife .hosts-page .vans p a {
  margin-left: auto;
  font-weight: 500;
  font-size: 1rem;
}
.vanlife .hosts-page .vans .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.vanlife .hosts-page .vans .container .van a {
  width: 100%;
  height: 102px;
  border-radius: 6px;
  background-color: var(--color-3);
  padding: 0 27px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.vanlife .hosts-page .vans .container .van a img {
  width: 65.88px;
  height: 65.88px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.vanlife .hosts-page .vans .container .van a .name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 31.7px;
  color: var(--color-2);
}
.vanlife .hosts-page .vans .container .van a a {
  margin-left: auto;
}
.vanlife .hosts-page .host-van-detail {
  padding: 27px;
}
.vanlife .hosts-page .host-van-detail .container {
  width: 100%;
  height: 499px;
  border-radius: 6px;
  background-color: var(--color-3);
  padding: 27px;
}
.vanlife .hosts-page .host-van-detail .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
}
.vanlife .hosts-page .host-van-detail .top img {
  width: 160.15px;
  height: 157.9px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.vanlife .hosts-page .host-van-detail .top .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}
.vanlife .hosts-page .host-van-detail .top .info .simple {
  color: var(--color-5);
  background-color: var(--color-11);
}
.vanlife .hosts-page .host-van-detail .top .info .rugged {
  color: var(--color-5);
  background-color: var(--color-14);
}
.vanlife .hosts-page .host-van-detail .top .info .luxury {
  color: var(--color-5);
  background-color: var(--color-2);
}
.vanlife .hosts-page .host-van-detail .top .name {
  font-weight: 700;
  font-size: 1.629rem;
  line-height: 27.4px;
  color: var(--color-2);
}
.vanlife .hosts-page .host-van-detail .top .price {
  font-weight: 700;
  font-size: 1.221rem;
  line-height: 36px;
  color: var(--color-2);
}
.vanlife .hosts-page .host-van-detail .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.vanlife .hosts-page .host-van-detail .nav a {
  display: inline-block;
  padding: 27px 0;
}
.vanlife .hosts-page .host-van-detail .details p {
  font-weight: 500;
  font-size: 0.897rem;
  line-height: 21.5px;
  color: var(--color-2);
  margin-bottom: 16px;
}
.vanlife .hosts-page .host-van-detail .pricing p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 21.5px;
  color: var(--color-2);
}
.vanlife .hosts-page .host-van-detail .photos img {
  width: 103px;
  height: 101.56px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.vanlife .hosts-page .reviews {
  padding: 27px;
}
.vanlife .hosts-page .reviews svg {
  width: 24px;
  height: 24px;
  color: var(--color-6);
}
.vanlife .hosts-page .reviews .title-section h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 33.7px;
  color: var(--color-2);
  display: inline-block;
}
.vanlife .hosts-page .reviews .title-section span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-1);
  margin-left: 16px;
}
.vanlife .hosts-page .reviews .title-section a {
  font-weight: 700;
  text-decoration: underline;
}
.vanlife .hosts-page .reviews .rating-section {
  margin: 27px 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-1);
}
.vanlife .hosts-page .reviews .rating-section .rating-title {
  color: var(--color-2);
  margin-bottom: 27px;
}
.vanlife .hosts-page .reviews .rating-section .rating-title .big {
  font-weight: 700;
  font-size: 2rem;
  line-height: 22.9px;
  color: var(--color-2);
}
.vanlife .hosts-page .reviews .rating-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.vanlife .hosts-page .reviews .rating-section .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.vanlife .hosts-page .reviews .rating-section .container .row span {
  flex: 1;
}
.vanlife .hosts-page .reviews .rating-section .container .row .meter {
  flex: 5;
}
.vanlife .hosts-page .reviews .rating-section .container .row .percent {
  text-align: right;
}
.vanlife .hosts-page .reviews .rating-section .container .meter {
  width: 335px;
  height: 10px;
  border-radius: 10px;
  background: var(--color-8);
  position: relative;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.vanlife .hosts-page .reviews .rating-section .container .meter span {
  display: block;
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-6);
  position: relative;
  overflow: hidden;
}
.vanlife .hosts-page .reviews .review-section {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22.2px;
  color: var(--color-2);
}
.vanlife .hosts-page .reviews .review-section .review-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22.9px;
  margin-bottom: 27px;
}
.vanlife .hosts-page .reviews .review-section .review {
  margin-bottom: 27px;
  border-bottom: 1px solid var(--color-16);
  padding-bottom: 27px;
}
.vanlife .hosts-page .reviews .review-section .review .name {
  color: var(--color-2);
  font-weight: 600;
  margin: 8px 0;
}
.vanlife .hosts-page .reviews .review-section .review .date {
  color: var(--color-16);
  font-weight: 600;
}
.vanlife .hosts-page .income {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 27px;
  padding: 27px;
}
.vanlife .hosts-page .income h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 22px;
  color: var(--color-2);
}
.vanlife .hosts-page .income .period {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-1);
}
.vanlife .hosts-page .income .period a {
  text-decoration: underline;
  font-weight: 700;
}
.vanlife .hosts-page .income .total {
  font-weight: 900;
  font-size: 3rem;
  line-height: 38px;
  color: var(--color-2);
}
.vanlife .hosts-page .income .trans {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 22px;
  color: var(--color-2);
  margin-right: 16px;
}
.vanlife .hosts-page .income .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.vanlife .hosts-page .income .row {
  width: 100%;
  height: 102px;
  border-radius: 6px;
  background-color: var(--color-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
}
.vanlife .hosts-page .income .trans-income {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 31.7px;
}
.vanlife .hosts-page .income .trans-date {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 31.7px;
  color: var(--color-1);
}
.vanlife .about-page .content {
  padding: 54px 27px;
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.vanlife .about-page .content h2,
.vanlife .about-page .content h3,
.vanlife .about-page .content p {
  margin: 0;
}
.vanlife .about-page .content h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  color: var(--color-2);
}
.vanlife .about-page .content p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: var(--color-2);
}
.vanlife .about-page .content .explore {
  width: 100%;
  height: 198px;
  background-color: var(--color-15);
  border-radius: 5px;
  padding: 2rem;
}
.vanlife .about-page .content h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  color: var(--color-2);
  margin-bottom: 1.5rem;
}
.vanlife .about-page .content button {
  width: 174px;
  height: 49px;
  background-color: var(--color-2);
  color: var(--color-3);
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.997rem;
  line-height: 23.9px;
}
.vanlife .about-page .content button:hover {
  cursor: pointer;
}
.vanlife .vans-page {
  padding: 27px;
  background-color: var(--color-4);
}
.vanlife .vans-page h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 33.7px;
  color: var(--color-2);
  margin-bottom: 27px;
}
.vanlife .vans-page .vans-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 27px;
  text-transform: capitalize;
}
.vanlife .vans-page .vans-filter button {
  font: inherit;
  background-color: var(--color-5);
  color: var(--color-1);
}
.vanlife .vans-page .vans-filter .simple:hover,
.vanlife .vans-page .vans-filter .simple:focus,
.vanlife .vans-page .vans-filter .simple.selected {
  color: var(--color-5);
  background-color: var(--color-11);
}
.vanlife .vans-page .vans-filter .rugged:hover,
.vanlife .vans-page .vans-filter .rugged:focus,
.vanlife .vans-page .vans-filter .rugged.selected {
  color: var(--color-5);
  background-color: var(--color-14);
}
.vanlife .vans-page .vans-filter .luxury:hover,
.vanlife .vans-page .vans-filter .luxury:focus,
.vanlife .vans-page .vans-filter .luxury.selected {
  color: var(--color-5);
  background-color: var(--color-2);
}
.vanlife .vans-page .vans-filter .clear-filters {
  font: inherit;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
.vanlife .vans-page .vans-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
}
.vanlife .vans-page .vans-list a {
  text-decoration: none;
}
.vanlife .vans-page .vans-list .van-image {
  width: 229.23px;
  height: 229.23px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.vanlife .vans-page .vans-list .name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vanlife .vans-page .vans-list .van-name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 31.7px;
  color: var(--color-2);
}
.vanlife .vans-page .vans-list .van-price {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-2);
  display: flex;
  flex-direction: column;
  text-align: right;
}
.vanlife .vans-page .vans-list .van-price span {
  font-weight: 400;
  font-size: 0.8rem;
}
.vanlife .vans-page .vans-list .simple {
  color: var(--color-5);
  background-color: var(--color-11);
}
.vanlife .vans-page .vans-list .rugged {
  color: var(--color-5);
  background-color: var(--color-14);
}
.vanlife .vans-page .vans-list .luxury {
  color: var(--color-5);
  background-color: var(--color-2);
}
.vanlife .van-detail-page {
  padding: 27px;
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.vanlife .van-detail-page .van-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.vanlife .van-detail-page .simple {
  color: var(--color-5);
  background-color: var(--color-11);
}
.vanlife .van-detail-page .rugged {
  color: var(--color-5);
  background-color: var(--color-14);
}
.vanlife .van-detail-page .luxury {
  color: var(--color-5);
  background-color: var(--color-2);
}
.vanlife .van-detail-page .van-name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 33.7px;
  color: var(--color-2);
}
.vanlife .van-detail-page .van-price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 44.2px;
  color: var(--color-2);
}
.vanlife .van-detail-page .van-price span {
  font-weight: 500;
  font-size: 1.25rem;
}
.vanlife .van-detail-page .van-description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 23.9px;
  color: var(--color-2);
}
.vanlife .van-detail-page .van-rent {
  width: 100%;
  height: 49.83px;
  border-radius: 4.98px;
  background-color: var(--color-6);
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 31.7px;
  color: var(--color-3);
}
.vanlife .login-page {
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  padding: 54px 27px;
}
.vanlife .login-page .required,
.vanlife .login-page .error {
  color: var(--color-6);
}
.vanlife .login-page h2 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: var(--color-2);
}
.vanlife .login-page form {
  width: 100%;
}
.vanlife .login-page input {
  display: block;
  width: 100%;
  padding: 9px 13px;
  color: var(--color-1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  border: 1px solid var(--color-18);
}
.vanlife .login-page input:focus {
  outline: none;
}
.vanlife .login-page input[type=text] {
  border-radius: 6px 6px 0 0;
  border-bottom: none;
}
.vanlife .login-page input[type=password] {
  border-radius: 0 0 6px 6px;
}
.vanlife .login-page button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 6px;
  background-color: var(--color-6);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  color: var(--color-3);
  margin-top: 27px;
}
.vanlife .login-page a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  color: var(--color-6);
  text-decoration: none;
}
.vanlife .not-found-page {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  padding: 27px;
  background-color: var(--color-4);
}
.vanlife .not-found-page h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 42px;
  color: var(--color-2);
}
.vanlife .not-found-page button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 31.7px;
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-2);
  color: var(--color-3);
}
.vanlife .footer {
  width: 100%;
  height: 74.75px;
  background-color: var(--color-9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-10);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 22.9px;
}/*# sourceMappingURL=index.css.map */